<div class="container">
  <li class="mb-2 mt-3 list-group-item">
    <button type="button" id="voltar" class="btn voltar"><i class="fa-solid fa-arrow-left"></i> Voltar</button>
  </li>
    <div class="row">
      <!-- Configurações do Equipamento -->
      <div class="col-md-12 mb-4 mt-4">
        <h2>Configurações do Equipamento</h2>
        <form>
          <div class="form-group">
            <label for="nome-equipamento">Nome do Equipamento:</label>
            <input type="text" class="form-control" id="nome-equipamento" placeholder="Digite o nome do equipamento">
            <ul class="list-group mt-5">
                <button class="list-group-item btn btn-success" id="mudar-equipamento" type="submit">Mudar equipamento</button>
            </ul>
          </div>
          <div class="col-md-6 mb-4">
            
          </div>
        </form>
      </div>
      <!-- Sidebar -->
      <div class="col-md-6 mb-4">
        <h2>READER API</h2>
        <ul class="list-group">
          <li class="list-group-item btn btn-success" id="iniciar-reader-api">Inicar API Reader</li>
          <li class="list-group-item btn btn-danger" id="parar-reader-api">Parar API Reader</li>
          <li class="list-group-item btn btn-secondary" id="reiniciar-reader-api">Reiniciar API Reader</li>
        </ul>
      </div>
      
      <div class="col-md-6 mb-4">
        <h2>API MYTEMPO</h2>
        <!-- <ul class="list-group">
            <li class="list-group-item btn btn-success" id="iniciar-mytempo-api">Inicar API Reader</li>
            <li class="list-group-item btn btn-danger" id="parar-mytempo-api">Parar API Reader</li>
            <li class="list-group-item btn btn-secondary" id="reiniciar-mytempo-api">Reiniciar API Reader</li>
          </ul> -->
      </div>
      
  </div>