
  <style>
 
    .box {
      text-align: center;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 20px;
    }
    
  </style>


  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-4">
        <div class="box">
          <h2 class="tags-qtd">0</h2>
          <p>Tags coletadas</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <h2 class="atletas-validos">0</h2>
          <p>Atletas Válidos</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <h2 class="atletas-enviados">0</h2>
          <p>Atletas Enviados</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <h2 class="largada">0</h2>
          <p>Largada</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <h2 class="percurso">0</h2>
          <p>Percurso</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <h2 class="chegada">0</h2>
          <p>Chegada</p>
        </div>
      </div>
    </div>
  </div>


